<app-navbar></app-navbar>
<div id="main">
  <h1>About Me</h1>
  <div id="content">
    <div id="photo">
      <img alt="Picture of Arunam Gupta" src="../../../assets/images/cutout.jpg">
    </div>
    <div id="text">
      <p>Hi! My name is Arunam Gupta. I am currently working as Full Stack Developer at Miracle Software Systems at
        Novi, Michigan. I graduated from the University of Maryland, College Park in May 2022 with a B.S. in Computer
        Science.
      <p>I have taught myself front-end, back-end, cloud technologies, and DevOps tools. I plan to specialize in
        back-end development and eventually go into cybersecurity.</p>
      <p>My hobbies include cardio and strength training at the gym, Tour de France, Formula 1, and learning French
        whenever I get the time.</p>
      <p><span>Welcome to my website!</span></p>
      <div id="links">
        <a class="link" href="mailto: arunamgupta@proton.me" target="_blank">Email</a>
        <a class="link" href="https://github.com/Arunam97" target="_blank">GitHub</a>
        <a class="link" href="https://www.linkedin.com/in/arunamgupta/" target="_blank">LinkedIn</a>
        <a class="link" href="https://drive.google.com/file/d/1Jb3RCmwxwsWuuBvdw38_TJDJXSWkwMUl/view?usp=sharing"
           target="_blank">View Resume</a>
      </div>
    </div>
  </div>
</div>
