* {
  padding: 0;
  margin: 0;
}

/*
Media query for screen size LESS THAN 600px
*/

@media all and (max-width: 600px) {
  #main {
    margin: 2vw;
    background-color: #EDEDED;
  }

  h1 {
    font-family: Raleway, sans-serif;
    font-size: 1.5em;
    margin: 2vw 0 2vw 0;
    text-align: center;
    letter-spacing: 0.25vw;
    text-decoration: underline 0.5vw;
  }

  #content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  #photo {
    padding: 0 0 2vw 0;
    border: none black 0.5vw;
    border-bottom-style: solid;
  }

  #photo > img {
    background-color: lightgoldenrodyellow;
    border-radius: 10%;
    height: 40vw;
    border: double black 1.5vw;
    margin: 2vw;
  }

  #text {
    margin: 2vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  p {
    margin: 1vw;
    font-family: Lusitana, serif;
    font-size: 1.1em;
    letter-spacing: 0.15vw;
  }

  #name {
    color: red;
    font-weight: bold;
  }

  #welcome-span {
    font-size: 1em;
    font-style: italic;
  }

  #links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .link {
    margin: 1vw;
    padding: 1vw;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: 0.25vw;
  }
}

/*
Media query for screen size GREATER THAN 600px
*/

@media all and (min-width: 600px) {
  #main {
    margin: 2vw 5vw 2vw 5vw;
    background-color: #EDEDED;
  }

  h1 {
    font-family: Raleway, sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.25vw;
    text-align: center;
    margin: 2vw 0 2vw 0;
    text-decoration: underline 0.2vw;
  }

  #content {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  #photo {
    border: none black 0.2vw;
    border-left-style: solid;
    width: 50vw;
  }

  #photo > img {
    background-color: lightgoldenrodyellow;
    border-radius: 10%;
    height: 30vw;
    border: double black 0.5vw;
    margin: 4vw;
  }

  #text {
    width: 50vw;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  p {
    margin: 1vw;
    font-family: Lusitana, serif;
    font-size: 1.1em;
    letter-spacing: 0.1vw;
  }

  #name {
    color: red;
    font-weight: bold;
  }

  #welcome-span {
    font-size: 1em;
    font-style: italic;
  }

  #links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .link {
    margin: 0.5vw;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: 0.15vw;
  }
}

/*
Media query for screen size GREATER THAN 1200px
*/

@media all and (min-width: 1200px) {
  #main {
    margin: 2vw 10vw 2vw 10vw;
  }

  h1 {
    text-decoration: underline 0.15vw;
  }
}
