<app-navbar></app-navbar>
<div id="main">
  <h1>About Me</h1>
  <div id="content">
    <div id="photo">
      <img alt="Picture of Arunam Gupta" src="../../../assets/images/cutout.jpg">
    </div>
    <div id="text">
      <p>Hi there! My name is <span id="name">Arunam Gupta</span>, and I am currently working as a Full Stack Developer at Miracle Software Systems located in Novi, Michigan. I graduated with a B.S. in Computer Science from the University of Maryland, College Park in May 2022.
      <p>I've embarked on a dynamic self-learning journey, acquiring proficiency in front-end, back-end, cloud technologies, and DevOps tools. My focus is directed towards specializing in back-end development and eventually a career in cybersecurity.</p>
      <p>Outside of my work, I find joy in cardio and strength training at the gym, getting excited about events like the Tour de France and Formula 1, and dedicating time to learning the French language whenever possible.</p>
      <p><span id="welcome-span">Welcome to my website!</span></p>
      <div id="links">
        <a class="link" href="mailto: arunamgupta@proton.me" target="_blank">Email</a>
        <a class="link" href="https://www.linkedin.com/in/arunamgupta/" target="_blank">LinkedIn</a>
        <a class="link" href="https://github.com/Arunam97" target="_blank">GitHub</a>
        <a class="link" href="https://leetcode.com/arunam/" target="_blank">LeetCode</a>
        <a class="link" href="https://drive.google.com/file/d/1Jb3RCmwxwsWuuBvdw38_TJDJXSWkwMUl/view?usp=sharing"
           target="_blank">View Resume</a>
      </div>
    </div>
  </div>
</div>
