<app-navbar></app-navbar>
<div id="main">
  <h1>Work Experience</h1>
  <div id="content">
    <div class="individual-work">
      <p class="work-title">Full Stack Developer</p>
      <p class="work-place">Miracle Software Systems, Inc.</p>
      <p class="work-period">July 2022 - Present</p>
      <ul class="work-description">
        <li>Engineered a comprehensive full-stack application by seamlessly integrating frontend and backend components,
          utilizing Spring Boot, MySQL, and Angular. This amalgamation provided users with a seamless experience and
          efficient data management.
        </li>
        <li>Orchestrated a robust and automated CI/CD pipeline using Jenkins to effortlessly deploy a Spring Boot
          application on an Apache Tomcat server hosted on an EC2 instance.
        </li>
        <li>Independently set up a robust CI/CD pipeline using AWS CodeCommit, CodeBuild, CodeDeploy, and CodePipeline.
          Optimized project building and deployment on EC2, leading to enhanced software delivery, reduced errors, and
          heightened operational efficiency.
        </li>
        <li>Successfully deployed an Angular website on Amazon S3 and established connectivity with CloudFront,
          enhancing content delivery and user experience.
        </li>
        <li>Orchestrated seamless integration by linking CloudFront distribution with a Route 53 hosted zone, optimizing
          domain resolution and security through SSL certificate from ACM, ensuring secure HTTPS routing.
        </li>
        <li>Established a seamless connection between Spring Boot and MySQL through skillful utilization of JPA (Java
          Persistence API). Crafted efficient JPQL (Java Persistence Query Language) queries, enabling effective data
          retrieval and manipulation within the application.
        </li>
        <li>Key role in developing a robust Angular app, creating nested components, managing intricate routes, and
          seamlessly integrating APIs. Leveraged PrimeNG library to enhance functionality, delivering a feature-rich,
          interactive user experience through API data extraction.
        </li>
        <li>Applied a diverse array of AWS services, such as IAM, CloudFront, S3, RDS, and EC2, in multiple contexts to
          architect and scale intricate application infrastructures. Demonstrated expertise in ensuring seamless user
          access, robust data storage, optimized database administration, flexible content delivery, and adaptable
          compute resources, consistently enhancing the reliability of comprehensive full-stack solutions.
        </li>
        <li>Spearheaded informative training sessions, equipping new team members with the know-how to create robust
          full-stack applications. Imparted comprehensive guidance encompassing frontend and backend development, API
          integration, database management, and best practices for delivering scalable, user-centric applications.
        </li>
      </ul>
      <p class="skills-learned">Skills Utilized: Java, Angular, MySQL, AWS</p>
    </div>
  </div>
</div>
