<app-navbar></app-navbar>
<div id="main">
  <h1>Work Experience</h1>
  <div id="content">
    <div class="individual-work">
      <p class="work-title">Full Stack Developer</p>
      <p class="work-place">Miracle Software Systems, Inc.</p>
      <p class="work-period">July 2022 - Present</p>
      <ul class="work-description">
        <li>
          Engineered a comprehensive full-stack application by seamlessly integrating frontend and backend components,
          utilizing Spring Boot, MySQL, and Angular. This amalgamation provided users with a seamless experience and
          efficient data management.
        </li>
        <li>
          Orchestrated a robust and automated CI/CD pipeline using Jenkins to effortlessly deploy a Spring Boot
          application on an Apache Tomcat server hosted on an EC2 instance.
        </li>
        <li>
          Pioneered an end-to-end CI/CD pipeline employing AWS CodeCommit, CodeBuild, CodeDeploy, and CodePipeline. The
          orchestrated integration led to streamlined project building and deployment on EC2 instances, amplifying
          software delivery speed, minimizing errors, and boosting overall productivity.
        </li>
        <li>
          Established a seamless connection between Spring Boot and MySQL through skillful utilization of JPA (Java
          Persistence API). Crafted efficient JPQL (Java Persistence Query Language) queries, enabling effective data
          retrieval and manipulation within the application.
        </li>
        <li>
          Played a pivotal role in developing a substantial Angular application, intricately constructing nested
          components, managing complex routes, and seamlessly integrating APIs. Augmented the application's
          functionality with the powerful PrimeNG library alongside Angular, resulting in a feature-rich, interactive
          app adept at extracting data from APIs to provide an engaging user experience.
        </li>
        <li>
          Harnessed an array of AWS services, including IAM, S3, RDS, and EC2, to construct intricate and scalable
          application infrastructures. This extensive AWS integration ensured user-friendly access, fortified data
          storage, streamlined database management, and flexible compute resources, bolstering the reliability of the
          full-stack application.
        </li>
        <li>
          Spearheaded informative training sessions, equipping new team members with the know-how to create robust
          full-stack applications. Imparted comprehensive guidance encompassing frontend and backend development, API
          integration, database management, and best practices for delivering scalable, user-centric applications.
        </li>
      </ul>
      <p class="skills-learned">Skills Utilized: Java, Angular, MySQL, AWS</p>
    </div>
  </div>
</div>
