<div id="about-me">
  <h1>About me</h1>
  <span class="pi pi-user"></span>
  <p>Hi! My name is Arunam Gupta. I am a Software Engineer currently living in Novi, Michigan. Welcome to my
    website!</p>
</div>

<div id="education">
  <h1>Education</h1>
  <span class="pi pi-book"></span>
  <p>University of Maryland, College Park</p>
  <p>B.S. in Computer Science</p>
  <p>Graduated : May 2022</p>
</div>

<div id="experience">
  <h1>Work Experience</h1>
  <span class="pi pi-briefcase"></span>
  <p>Software Engineer</p>
  <p>July 2022 – Present</p>
  <p>Miracle Software Systems, Inc.</p>
  <p>Novi, Michigan</p>
  <ul>
    <li>Engineered a comprehensive full-stack application by combining Spring Boot, MySQL, and Angular. The
      application
      seamlessly integrated frontend and backend components, providing a user-friendly experience and efficient
      data
      management.
    </li>
    <li>Designed and implemented a robust and automated CI/CD pipeline using Jenkins to deploy a Spring Boot
      application
      on an Apache Tomcat server hosted on an EC2 instance.
    </li>
    <li>Implemented end-to-end CI/CD pipeline using AWS CodeCommit, CodeBuild, CodeDeploy, and CodePipeline for
      seamless
      project building and deployment on EC2 instances. Accelerated software delivery, minimized errors, and
      enhanced
      overall productivity.
    </li>
    <li>Established seamless connectivity between Spring Boot and MySQL by utilizing JPA (Java Persistence API).
      Wrote
      efficient JPQL (Java Persistence Query Language) queries to interact with the database, facilitating
      effective
      data retrieval and manipulation within the application.
    </li>
    <li>Took an active role in creating a large-scale Angular application, contributing to the development of
      numerous
      nested and interwoven components, complex routings, and seamless API integrations. The collaborative effort
      resulted in a feature-rich and highly interactive application that efficiently retrieved data from APIs,
      delivering a compelling user experience.
    </li>
    <li>Leveraged a wide range of AWS services, including IAM, S3, RDS, and EC2 to create highly sophisticated and
      scalable application infrastructures. This extensive use of AWS services ensured seamless user access,
      secure data
      storage, efficient database management, and flexible compute resources, contributing to a robust and
      reliable
      full-stack application.
    </li>
    <li>Led informative training sessions to instruct new hires on the process of creating full-stack
      applications.
      Provided comprehensive guidance on various aspects, including frontend and backend development, API
      integrations,
      database management, and best practices for delivering scalable and user-friendly applications.
    </li>
  </ul>
</div>

<div id="skills">
  <h1>Skills</h1>
  <span class="pi pi-code"></span>
  <h2>Front-End Development</h2>
  <ul>
    <li>HTML/CSS</li>
    <li>JavaScript/TypeScript</li>
    <li>Angular</li>
    <ul>
      <li>PrimeNG</li>
    </ul>
  </ul>
  <h2>Back-End Development</h2>
  <ul>
    <li>Java</li>
    <ul>
      <li>Spring Boot</li>
    </ul>
    <li>MySQL</li>
  </ul>
  <h2>Cloud Technologies</h2>
  <ul>
    <li>Amazon Web Services (AWS)</li>
    <ul>
      <li>IAM (Identity and Access Management)</li>
      <li>EC2 (Elastic Compute Cloud)</li>
      <li>RDS (Relational Database Service)</li>
      <li>Route 53 (DNS service)</li>
      <li>S3 (Simple Storage Service)</li>
      <li>CodeCommit (Git-based version control)</li>
      <li>CodeBuild (Continuous integration service)</li>
      <li>CodeDeploy (Automated deployment service)</li>
      <li>CodePipeline (Continuous delivery service)</li>
    </ul>
  </ul>
  <h2>Software Development and DevOps Tools:</h2>
  <ul>
    <li>Tomcat (Web/application server)</li>
    <li>Jenkins (Continuous integration and continuous deployment)</li>
    <li>Figma (Design and prototyping)</li>
    <li>Git version control</li>
    <li>MySQL Workbench (Database management)</li>
    <li>Postman (API testing and development)</li>
  </ul>
</div>

<div id="contact-me">
  <h1>Contact Me</h1>
  <span class="pi pi-envelope"></span>
  <p><a href="mailto: arunamgupta@proton.me" target="_blank"><span>arunamgupta@proton.me</span></a></p>
  <p><a href="https://github.com/Arunam97" target="_blank"><span>GitHub</span></a></p>
  <p><a href="https://www.linkedin.com/in/arunamgupta/" target="_blank"><span>LinkedIn</span></a></p>
</div>
