<app-navbar></app-navbar>
<div id="main">
  <h1>Skills</h1>
  <div id="content">
    <div id="front-end">
      <h2>Front-End</h2>
      <div class="list">
        <p>HTML/CSS</p>
        <p>JavaScript/TypeScript</p>
        <p>Angular</p>
          <p class="sub-category">* PrimeNG</p>
      </div>
    </div>
    <div id="back-end">
      <h2>Back-End</h2>
      <div class="list">
        <p>Java</p>
        <p class="sub-category">* Spring Boot</p>
        <p>MySQL</p>
      </div>
    </div>
    <div id="cloud">
      <h2>Cloud</h2>
      <div class="list">
        <p>Amazon Web Services (AWS)</p>
        <p class="sub-category">* IAM (Identity and Access Management)</p>
        <p class="sub-category">* EC2 (Elastic Compute Cloud)</p>
        <p class="sub-category">* RDS (Relational Database Service)</p>
        <p class="sub-category">* Route 53 (DNS service)</p>
        <p class="sub-category">* S3 (Simple Storage Service)</p>
        <p class="sub-category">* CodeCommit (Git-based version control)</p>
        <p class="sub-category">* CodeBuild (Continuous integration service)</p>
        <p class="sub-category">* CodeDeploy (Automated deployment service)</p>
        <p class="sub-category">* CodePipeline (Continuous delivery service)</p>
      </div>
    </div>
    <div id="sde-devops-tools">
      <h2>Other Skills</h2>
      <div class="list">
        <p>Tomcat (Web/application server)</p>
        <p>Jenkins (Continuous integration and continuous deployment)</p>
        <p>Postman (API testing and development)</p>
        <p>Figma (Design and prototyping)</p>
        <p>MySQL Workbench (Database management)</p>
        <p>Git version control</p>
      </div>
    </div>
  </div>
</div>
