@font-face {
  font-family: "Raleway";
  src: url('assets/fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

@font-face {
  font-family: "Lusitana";
  src: url('assets/fonts/Lusitana/Lusitana-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 101vh;
}
